# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.so

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Logs
*.log

# Alembic
alembic/versions/*.py
!alembic/versions/.gitkeep